



#div1 { 
    color: blue;
    position: relative;
     align-content: right;
    
    border:1px solid;color:blue;
    margin:left 25%;
}

#div2 { 
    border: blue;


}
#div3{ 
    position: relative;
    float: left;
    width: 25px;}






