



#div1 { 
    color: blue;
    position: relative;
     align-content: right;
    
    border:1px solid;color:blue;
    margin:left 25%;
}

#div2 { 
    position: relative;
    text-align: center;
    


}
#div3 { 
    margin: 25%;
    border: 1px solid;color:green;
    position: absolute;
    float: left;
    width: 75;}

    #div4 {
        margin: 25%;
    border: 1px solid;color:black;
    position: relative;;
    float: left;
    width: 75;
}

#div5 { margin: 25%;
    border: 1px solid;color:purple;
    position: relative;;
    float: left;
    width: 75;

}






